{#
  Renders a cta
  @param link  string permalink
  @param text  string
  @param colour  a brand colour chosen
  @param class  additional class
  @param download  boolean
  @param tracking  string data tracking attribute to include
#}

{% set colour_class = colour == 'white' ? 'o-cta--white' : 'bg-' ~ colour %}

{% if colour == "teal" and  no_image_bg_color == "teal" %}
	{% set colour = "teal-on-teal" %}
{% endif %}

{% if link %}
	<a href='{{link}}' target='{{target}}' class='o-cta {{colour_class}} o-cta--{{colour}}  {{class}} js-cta {{download ? ' o-cta--download': ' '}}' data-colour="{{colour}}" data-tracking="{{tracking}}">
		{% if download %}
			{% include "partials/svgs/download.svg.twig" %}
		{% endif %}
		{{text}}
	</a>
{% endif %}
